<footer>
	<ul>
		<li><a href="#">{{ 'FOOTER.ABOUT_US' | translate }}</a></li>
		<li><a href="#">{{ 'FOOTER.PRESS' | translate }}</a></li>
		<li><a href="#">{{ 'FOOTER.TERMS' | translate }}</a></li>
		<li><a href="#">{{ 'FOOTER.CONTACT_US' | translate }}</a></li>
	</ul>
	<!--<div class="images-references">
		<div class="flaticon">
			Icons made by
			<a href="http://www.freepik.com" target="_blank">Freepik</a>
			from
			<a href="http://www.flaticon.com" target="_blank">Flaticon</a>
			is licensed by
			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
		</div>
		<div class="iconmonstr">
			<img src="/sportenjoy/assets/images/iconmonstr-logo.png">
			<a href="http://iconmonstr.com/">iconmonstr</a>
		</div>
	</div>-->
</footer>
