.ng-valid, .ng-invalid {
  border: 0;
}
.btn {
    padding: 15px 20px;
    vertical-align: inherit;
    border-radius: 0;
    border: none;
    font-size: 18px;
    -o-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
h2 {
    margin: 0 0 60px;
}
.login .btn {
    margin-bottom: 0px;
    width: 100%!important;
}
.login {
      padding: 0 50px;
}
.login .col-md-5 {
    padding: 0;
}
.login .form-control {
    width: 100%;
    padding: 15px 20px;
    height: auto;
    background: #fff;
    border-radius: 0;
    font-size: 18px;
}
#register {
    padding: 50px;
    font-size: 16px;
}
#register .link {
    font-weight: 600;
    color: #fff;
}

/* For tablets and smart phones */
@media (max-width: 991px) {
    form {
        padding: 40px;
    }
    h2 {
        margin: 110px 0 0;
        padding: 0 20px;
    }
}

/* For tablets */
@media (max-width: 991px) and (min-width: 767px) {
  .login form input[type=email] {
    border-bottom: 1px solid #f5f5f5;
  }
}

/* For smart phones */
@media (max-width: 767px) {
  .login form input[type=email] {
    border-bottom: 1px solid #f5f5f5;
  }
}