<div class="container">
    <h2>{{ 'AUTH.LOGIN' | translate }}</h2>
    <div class="row">
        <div class="login">
            <form class="form" (ngSubmit)="onLogin()">
                <label class="sr-only" for="email">{{ 'AUTH.EMAIL' | translate }}</label>
                <input type="email" class="form-control" name="email" placeholder="{{ 'AUTH.EMAIL' | translate }}" required
                    [(ngModel)]="email">
                <label class="sr-only" for="password">{{ 'AUTH.PASSWORD' | translate }}</label>
                <input type="password" class="form-control" name="password" placeholder="{{ 'AUTH.PASSWORD' | translate }}" required
                        [(ngModel)]="password">
                <label *ngIf="signUp" class="sr-only" for="password-confirmation">{{ 'AUTH.PASSWORD_CONFIRMATION' | translate }}</label>
                <input  *ngIf="signUp" type="password" class="form-control" placeholder="{{ 'AUTH.PASSWORD_CONFIRMATION' | translate }}" autocomplete="off" autofill="off" required
                       [(ngModel)]="passwordConfirmation" name="password-confirmation">
                <button *ngIf="signUp" (click)="toggleSignUp()" class="btn btn-primary">{{ 'AUTH.LOGIN' | translate }}</button>
                <input *ngIf="!signUp" type="submit" class="btn btn-primary" value="{{ 'AUTH.LOGIN' | translate }}">
                <button *ngIf="!signUp" (click)="toggleSignUp()" class="btn btn-secondary">{{ 'AUTH.SIGNUP' | translate }}</button>
                <input *ngIf="signUp" type="submit" class="btn btn-secondary" value="{{ 'AUTH.SIGNUP' | translate }}">
            </form>
        </div>
    </div>
    <div class="row error">
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ 'OTHER.ERROR' | translate }} {{ errorMessage | translate }}
        </div>
    </div>
</div>
