<div class="container-fluid">
	<div class="row hidden-xs">
		<h2>Aktyviausi nariai</h2>
	</div>
	<div class="row spotters">
		<div *ngFor='let spotter of spotters'  class="col-md-3 col-sm-6 spotter">
				<div class="row img_overflow">
						<div *ngIf="spotter.image" [style.background-image]="'url(' + spotter.images + ')'"></div>
						<div *ngIf="!spotter.image" [style.background-image]="'url(' + defaultImage + ')'"></div>
				</div>
				<div class="row info">
					<span class="name">{{ spotter.name }}</span>
					<h4 class="geo_link"><i class="gh_geopin"></i>{{ spotter.location }}</h4>
					<div class="col-md-12">
						<div class="col-md-4 col-xs-4"><p>{{ spotter.spotsMarked }}<span class="glyphicon glyphicon-map-marker"></span></p></div>
						<div class="col-md-4 col-xs-4"><p>{{ spotter.beenHereCount }}<span class="glyphicon glyphicon-eye-open"></span></p></div>
						<div class="col-md-4 col-xs-4"><p>{{ spotter.commentsCount }}<span class="glyphicon glyphicon-comment"></span></p></div>
					</div>
				</div>
		</div>
		<div *ngIf="spotters == ''">
			<div class="alert alert-danger">
				Atsiprašome. Įvyko klaida.
			</div>
		</div>
	</div>
	<div class="row" id="spotter">
		<h1>Prisijunk</h1>
		<h3>Pasidalink vietomis ir tu. Tai paprasta!</h3>
		<p>Pažymėk savo mėgstamiausią sporto aikštelę taip padėdamas ją atrasti kitiems.</p>
		<div class="container dotted">
			<div class="row">
				<div class="col-md-3 col-xs-3">
					<img src="/sportenjoy/assets/images/signup-icon.png" />
					<span>Registruokis</span>
				</div>
				<img class="arrow col-md-1 col-xs-1" src="/sportenjoy/assets/images/arrow.png" />
				<div class="col-md-3 col-xs-3">
					<img src="/sportenjoy/assets/images/find-icon.png" />
					<span>Atrask</span>
				</div>
				<img class="arrow col-md-1 col-xs-1" src="/sportenjoy/assets/images/arrow.png" />
				<div class="col-md-3 col-xs-3">
					<img src="/sportenjoy/assets/images/spot-icon.png" />
					<span>Pasidalink</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row benefits">
	  <h2>Narystės privalumai</h2>
	  <div class="list-group benefits-list">
	    <a class="list-group-item">
				<span class="glyphicon glyphicon-link addon"></span>
	      <h4 class="list-group-item-heading">Susiek vietą su savo paskyra</h4>
	      <p class="list-group-item-text hidden-xs">Tokiu būdų visi galės pamatyti, jog tu pasidalinai šia vieta</p>
	    </a>
	    <a class="list-group-item">
				<span class="glyphicon glyphicon-heart addon"></span>
	      <h4 class="list-group-item-heading">Išsaugok savo mėgstamiausias vietas</h4>
	      <p class="list-group-item-text hidden-xs">Puikus būdas prisiminti geriausias sporto vietas rajone ar mieste.</p>
	    </a>
	    <a class="list-group-item">
				<span class="glyphicon glyphicon-thumbs-up addon"></span>
	      <h4 class="list-group-item-heading">Būk geriausias</h4>
	      <p class="list-group-item-text hidden-xs">Žymėk vietas ir atsidurk tarp geriausių narių</p>
	    </a>
	  </div>
	</div>
</div>
