<div class="container-fluid">
	<div class="row hidden-xs">
		<h2>{{ 'TITLES.SPOTTERS' | translate }}</h2>
	</div>
	<div class="row spotters">
		<div *ngFor='let spotter of spotters | reverse'  class="col-md-3 col-sm-6 spotter">
				<div class="row img_overflow">
						<div *ngIf="spotter.image" [style.background-image]="'url(' + spotter.image + ')'"></div>
						<div *ngIf="!spotter.image" [style.background-image]="'url(' + defaultImage + ')'"></div>
				</div>
				<div class="row info">
					<span class="name">{{ spotter.name }}</span>
					<h4 class="geo_link"><i class="gh_geopin"></i>{{ spotter.location }}</h4>
					<div class="col-md-12">
						<div class="col-md-4 col-xs-4"><p>{{ spotter.spotsMarked }}<span class="glyphicon glyphicon-map-marker"></span></p></div>
						<div class="col-md-4 col-xs-4"><p>{{ spotter.beenHereCount }}<span class="glyphicon glyphicon-eye-open"></span></p></div>
						<div class="col-md-4 col-xs-4"><p>{{ spotter.commentsCount }}<span class="glyphicon glyphicon-comment"></span></p></div>
					</div>
				</div>
		</div>
		<div *ngIf="spotters == ''">
			<div class="alert alert-danger">
				Atsiprašome. Įvyko klaida.
			</div>
		</div>
	</div>
	<spotters-join></spotters-join>
	<div class="row benefits">
	  <h2>{{ 'SPOTTERS.ADVANTAGES' | translate }}</h2>
	  <div class="list-group benefits-list">
	    <a class="list-group-item">
				<span class="glyphicon glyphicon-link addon"></span>
	      <h4 class="list-group-item-heading">{{ 'SPOTTERS.CONNECT_SPOT_WITH_YOU' | translate }}</h4>
	      <p class="list-group-item-text hidden-xs">{{ 'SPOTTERS.CONNECT_SPOT_WITH_YOU_COMMENT' | translate }}</p>
	    </a>
	    <a class="list-group-item">
				<span class="glyphicon glyphicon-heart addon"></span>
	      <h4 class="list-group-item-heading">{{ 'SPOTTERS.SAVE_YOUR_FAVORITE_SPOTS' | translate }}</h4>
	      <p class="list-group-item-text hidden-xs">{{ 'SPOTTERS.SAVE_YOUR_FAVORITE_SPOTS_COMMENT' | translate }}</p>
	    </a>
	    <a class="list-group-item">
				<span class="glyphicon glyphicon-thumbs-up addon"></span>
	      <h4 class="list-group-item-heading">{{ 'SPOTTERS.BE_THE_BEST' | translate }}</h4>
	      <p class="list-group-item-text hidden-xs">{{ 'SPOTTERS.BE_THE_BEST_COMMENT' | translate }}</p>
	    </a>
	  </div>
	</div>
</div>
