h2 {
    text-transform: uppercase;
    font-size: 40px;
	color: #eee;
    border: 4px solid #333;
    padding: 30px 10px;
	text-align: center;
	width: auto;
	background: #404040;
}
.spotter {
	height: 300px;
	background-color: #e2e9eb;
	-o-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
}
.spotter:hover {
	background-color: #C8D50B;
}
.spotter .img_overflow {
	overflow: hidden;
	max-height: 180px;
	height: 180px;
}
.spotter .img_overflow div {
	-o-transition: all 30s linear;
	-webkit-transition: all 30s linear;
	transition: all 30s linear;
	height: 180px;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #b4c5cb;
}
.spotter .info {
	padding: 15px;
	text-align: center;
}
.spotter .info .name {
	color: #203a4c;
	line-height: 1.3;
	display: block;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.spotter .info .col-md-4 {
	text-align: center;
	height: 40px;
	display: table;
	background: #fff;
	color: #627581;
	font-weight: 700;
	font-size: 12px;
}
.spotter .info .col-md-4 p {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	max-width: 45px;
}
.spotter .info .col-md-4 span {
	padding: 2px 0 0 7px;
	line-height: 1;
}
.spotter .geo_link {
	color: #007496;
	font-size: 12px;
	margin: auto 10%;
	background-color: transparent;
	height: 22px;
	text-align: center;
}
.spotter .geo_link:hover {
	color: #007496;
}
		#spotter {
		    background: url('/sportenjoy/assets/images/spotter-background.jpg') center center no-repeat;
		    /*background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(56,181,170,.5)),color-stop(100%,rgba(0,116,150,.5))),url(../images/home_bg2.jpg) no-repeat;*/
		    height: 600px;
		    text-align: center;
		    -webkit-background-size: cover;
		    background-size: cover;
		}
				#spotter h1 {
				    display: table;
				    margin: 25px auto;
				    position: relative;
				    color: #fff;
				}
				#spotter p {
				    width: 50%;
				    margin: 0 auto 85px;
				}
						#spotter .col-md-3 span {
						    display: block;
						    max-width: 180px;
						    text-align: center;
						    margin: 20px auto 0;
						    font-weight: 700;
						    text-transform: uppercase;
						    font-size: 12px;
						}
						.arrow {
							width: 12.5%;
							padding-top: 30px;
						}
				#spotter .btn {
				    text-transform: uppercase;
				    font-weight: 700;
				    margin-top: 70px;
				}
		.benefits h2 {
				margin: 0;
		}
		.benefits .benefits-list {
			margin: 0;
		}
		.benefits .benefits-list .list-group-item {
			border-radius: 0;
			cursor: pointer;
			background: #eee;
			min-height: 60px;
		}
		.benefits .benefits-list .list-group-item:hover {
			background: #38b5aa;
		}
		.benefits .benefits-list .list-group-item:hover > h4 {
			color: #fff;
		}
		.benefits .benefits-list .list-group-item:hover > p {
			color: #ddd;
		}
		.benefits .benefits-list .list-group-item .addon {
			float: left;
			display: block;
			text-align: center;
			pointer-events: none;
			padding: 12px 0px;
			line-height: 1;
			color: #fff;
			text-align: center;
			background-color: #38b5aa;
			border-radius: 4px;
			white-space: nowrap;
			width: 40px;
			margin-right: 10px;
		}
		.benefits .benefits-list .list-group-item:hover .addon {
			color: #38b5aa;
			background-color: #fff;
		}

/* For desktops */
@media (min-width: 992px) {
	.spotters {
		padding: 60px 20px;
	}
	.spotters .spotter-info .col-md-4 {
		padding: 0;
	}
}
@media (max-width: 535px) {
	.benefits .benefits-list .list-group-item > h4 {
		padding: 12px 0px;
	}
}
@media (max-width: 992px) and (min-width: 768px) {

}
@media (max-width: 767px) {
	.spotter {
		margin: 0;
		height: auto;
		background-position: center;
	}
	section {
		padding: 40px 20px;
	}
	.dotted {
		display: none;
	}
	.spotter h1 {
		width: 85%;
		padding: 15px 20px;
		margin-top: 15px;
	}
	.spotter p {
		width: 100%;
		margin: 0 auto;
	}
	.spotter .btn {
		font-size: 14px;
		margin-top: 45px;
		padding: 20px;
	}
	.benefits {
		padding: 0;
	}
	.benefits > .container{
		padding: 0;
	}
	.benefits .benefits-list .list-group-item > h4 {
		padding: 12px 0px;
	}
}

/* For tablets and smart phones */
@media (max-width: 991px) {
	.spotters .col-md-2 {
		width: auto;
	}
}
