<div *ngIf="spot" class="container-fluid">
	<div class="row">
		<h2 *ngIf="isAdding()" class="hidden-xs">Add New Spot</h2>
		<h2 *ngIf="isUpdating()" class="hidden-xs">Papildyti - {{ spot.title }}</h2>
	</div>
	<!-- <div class="row"> -->
			<form *ngIf="!submitted" class="row" (ngSubmit)="onSubmit()">
				<div class="col-md-6 section">
					<h4>Aprašymas</h4>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Įveskite vietos pavadinimą" required
							[(ngModel)]="spot.title" name="title">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Įveskite vietos kategoriją" required
							[(ngModel)]="spot.category" name="category">
					</div>
					<div class="form-group">
						<textarea type="text" class="form-control" rows="4" placeholder="Įveskite vietos aprašymą" required
							[(ngModel)]="spot.description" name="description"></textarea>
					</div>
				</div>
				<div class="col-md-6 section">
					<h4>Vietovė</h4>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Įveskite vietos šalį" required
							[(ngModel)]="spot.country" name="country">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Įveskite vietos miestą" required
							[(ngModel)]="spot.city" name="city">
					</div>
					<div class="row">
						<div class="form-group col-md-6 col-xs-6">
							<input type="number" step="0.000001" class="form-control" placeholder="Latitude" required
								[(ngModel)]="spot.latitude" name="latitude">
						</div>
						<div class="form-group col-md-6 col-xs-6">
							<input type="number" step="0.000001" class="form-control" placeholder="Longitude" required
								[(ngModel)]="spot.longitude" name="longitude">
						</div>
					</div>
				</div>
				<div class="col-md-offset-3 col-md-6 section">
					<h4>Nuotraukos</h4>
					<div class="row">
						<div class="col-md-6 text-center">
							<input class="file-input" type="file" accept="image/*" multiple (change)="changeListener($event)"
								style="outline: none; white-space: nowrap; display: inline-block;">
							<label *ngIf="file" class="hidden-xs file-name">{{ file }}</label>
						</div>
						<img *ngIf="image" [src]="image" class="col-md-6 col-xs-12" alt="Nuotraukos peržiūra...">
					</div>
				</div>
				<div class="col-md-offset-3 col-md-6 section">
					<div class="form-group submit">
						<input type="submit" value="Siųsti" class="btn btn-dark">
					</div>
				</div>
			</form>
			<div *ngIf="submitted" class="panel panel-success">
				<div class="panel-heading">
					Jūsų užklausa sėkmingai išsiųsta!
				</div>
				<div class="panel-body">
					<div *ngIf="isUpdating()">
						<a [routerLink]="['/spot/' + spot.id]" class="panel-link">Pakeitimus galite peržiūrėti čia.</a>
					</div>
					<div *ngIf="isAdding()">
						<p *ngIf="isModerator()">Jūs sėkmingai pažymėjote naują vietą. Dėkojame!</p>
						<p *ngIf="!isModerator()">Jūsų užklausa dėl naujos vietos pažymėjimo sėkmingai nusiųsta mūsų moderatoriams. Dėkojame!</p>
					</div>
				</div>
			</div>
	<!-- </div> -->
</div>
