<div class="container-fluid">
	<div class="row">
		<h2>{{ 'OTHER.OR' | translate }}</h2>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 login-item" id="fb" (click)="onFacebookLoginClick()">
			<div class="row">
				<div class="hidden-xs logo">
					<img src="https://s3-eu-west-1.amazonaws.com/sportenjoy-files-upload/content/facebook-logo.png" />
				</div>
				<div class="col-xs-4 visible-xs thumb">
					<img src="https://s3-eu-west-1.amazonaws.com/sportenjoy-files-upload/content/facebook-logo.png" width="80px"/>
				</div>
				<div class="col-xs-8 col-sm-12">
					<h4>{{ 'LOGIN.LOGIN_WITH' | translate }} Facebook</h4>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 login-item" id="google">
			<div class="row">
				<div class="hidden-xs logo">
					<img src="https://s3-eu-west-1.amazonaws.com/sportenjoy-files-upload/content/google-plus-logo.png" />
				</div>
				<div class="col-xs-4 visible-xs thumb">
					<img src="https://s3-eu-west-1.amazonaws.com/sportenjoy-files-upload/content/google-plus-logo.png" width="80px"/>
				</div>
				<div class="col-xs-8 col-sm-12">
					<h4>{{ 'LOGIN.LOGIN_WITH' | translate }} Google+</h4>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 login-item">
			<div class="row">
				<div class="hidden-xs logo">
					<img src="https://s3-eu-west-1.amazonaws.com/sportenjoy-files-upload/content/login-logo.png" />
				</div>
				<div class="col-xs-4 visible-xs thumb">
					<img src="https://s3-eu-west-1.amazonaws.com/sportenjoy-files-upload/content/login-logo.png" width="80px"/>
				</div>
				<div class="col-xs-8 col-sm-12">
					<h4>{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</h4>
				</div>
			</div>
		</div>
	</div>
</div>
