h2 {
    margin: 0 0 60px;
}

.social-media img {
    border: 5px solid #fff;
    transition: 1s all;
    background: #fff;
}
.social-media img:hover {
    border: 5px solid #32353c;
    background: #fff;
}

/* For tablets and smart phones */
@media (max-width: 991px) {
    h2 {
        margin: 110px 0 0;
        padding: 0 20px;
    }
    .social-media {
        padding: 40px;
    }
    .social-media .col-xs-3 {
        margin-left: 2.5%;
        width: 30%;
    }
    .social-media .col-xs-3:last-child {
        margin-right: 2.5%;
    }
    .social-media img {
        width: 100%;
    }
}