<div class="container-fluid">
	<div class="row">
		<h2 class="hidden-xs">Populiariausios vietos</h2>
	</div>
	<div class="row">
		<div class="container top-places">
			<div *ngFor="let spot of spots | reverse" class="col-md-3">
				<a [routerLink]="['/spot/' + spot.id]">
					<div class="img_overflow">
						<div *ngIf="spot.main_image" [style.background-image]="'url(' + spot.main_image+ ')'"></div>
						<div *ngIf="!spot.main_image" class="text-center">
              <img id="no-image" [src]="noImage">
            </div>
					</div>
					<div class="post_excerpt">
						<span class="title">{{ spot.title }}</span>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4 col-xs-4"><p>{{ spot.rating }} <span class="glyphicon glyphicon-star"></span></p></div>
								<div class="col-md-4 col-xs-4"><p>{{ spot.beenHere}} <span class="glyphicon glyphicon-eye-open"></span></p></div>
								<div class="col-md-4 col-xs-4"><p><img [src]="'assets/images/' + decode(spot.category) + '.png'" /></p></div>
							</div>
						</div>
					</div>
				</a>
				<a (click)="searchSpotLocation(spot.city)" class="geo_link"><i class="gh_geopin"></i>{{ spot.city }}, {{spot.country}}</a>
			</div>
		</div>
	</div>
	<spotters-join></spotters-join>
</div>
