h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
		color: #eee;
    border: 4px solid #333;
    padding: 30px 10px;
		text-align: center;
		width: auto;
		background: #404040;
		margin-top: 0;
    margin-bottom: 0;
}
#profile {
  color: #444;
}

#profile .panel-footer {
  color: #555;
  text-align: center;
}
#profile .table.spots {
	color: #444;
	font-size: 14px;
}
#profile .table.spots tbody tr {
	cursor: pointer;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info .btn {
  width: 200px;
  margin-top: 10px;
}
.info p {
  text-align: left;
}

@media (max-width: 768px) {
  .spots .panel {
    border: 0;
  }
  .spots .panel-heading {
    background: #f39c12;
  }
}
