h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #32353c;
    margin: 20px 0;
}
.sebm-google-map-container {
	height: 200px;
	width: 98%;
}
.spot-review{
    background: #172935;
    padding: 20px;
    text-align: center;
}
.spot-review button {
	box-shadow: 1px 1px 1px #444;
	padding: 15px 60px;
}
.spot-detail .spot-title {
	color: #203a4c;
    text-shadow: none;
    padding: 5px 0 15px;
    text-align: left;
    margin: 0;
}
.spot-detail .geo_link a {
	padding-left: 17px;
	color: #007496;
	font-size: 16px;
}
.spot-detail .sidebar {
	color: #798994;
	font-weight: 700;
	padding-top: 45px;
	text-align: center;
	border-left: 1px solid #dee3ea;
}
.spot-detail .sidebar .beenHere {
	padding-bottom: 40px;
	border-bottom: 1px solid #dee3ea;
}
.spot-detail .sidebar .beenHere .btn {
	width: 80%;
}
.spot-detail .sidebar .spot-stats {
	display: inline-block;
	width: 100%;
	padding: 17px 0;
}
.spot-detail .sidebar .spot-stats p {
	vertical-align: middle;
	line-height: 36px;
	width: 100%;
	color: #999;
	font-size: 14px;
	margin-bottom: 20px;
}
.spot-detail .sidebar .spot-stats p#category {
	line-height: 36px;
	font-size: 14px;
}
.spot-detail .sidebar .spot-stats span {
  margin-left: 7px;
}
.spot-detail .sidebar .spot-stats img {
	height: 24px;
	margin-top: 6px;
}
.spot-images > div {
	width: 100%;
	text-align: center;
}
.spot-images .image > img {
	cursor: pointer;
	max-width: 600px;
	max-height: 600px;
}
.spot-images .image > img:hover {
	opacity: 0.8;
}
.spot-description {
	color: #798994;
	font-size: 14px;
}
.spot-description p {
	padding-left: 20px;
}

/* For tablets and smart phones */
@media (max-width: 992px) {
	.spot-detail .main {
		background: #ecf0f1;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.spot-detail .geo_link {
		float: right;
	}
	.spot-detail .sidebar {
		border-left: 0;
		padding: 0;
		text-align: center;
		color: white;
	}
	.spot-detail .sidebar .beenHere {
		border: 0;
		padding-top: 20px;
		border-top: 3px solid #172935;
		background: #f39c12;
	}
	.spot-detail .sidebar .spot-stats {
    	background: #172935;
	}
	.spot-detail .sidebar .spot-stats p  {
    	color: white;
	}
	.spot-images h3 {
		padding-left: 20px;
		margin: 10px 0;
	}
	.spot-description h3 {
		padding-left: 20px;
		margin: 10px 0;
	}
	.spot-detail .sidebar .spot-stats p {
		margin-bottom: 0;
	}
	.spot-images {
		padding-top: 20px;
		padding-bottom: 20px;
		background: #ecf0f1;
	}
	.spot-images .image > img {
		max-width: 400px;
		max-height: 400px;
	}
}

@media (max-width: 767px) {
	h1, h2 {
    font-size: 22px;
	}
	.spot-images .image > img {
		max-width: 200px;
		max-height: 200px;
	}
}
